<nav class="navbar navbar-expand-lg bg-light">
    <div class="container-fluid">

      <div class="collapse navbar-collapse" id="navbarScroll">

        <ul class="navbar-nav me-auto my-2 my-lg-0 navbar-nav-scroll" style="--bs-scroll-height: 100px;">

          <li class="nav-item">
            <a class="nav-link active" aria-current="page" routerLink="/First-Observable-example">Observable-1</a>
          </li>

          <li class="nav-item">
            <a class="nav-link active" aria-current="page" routerLink="/Set-timeout-Observable-example">Timeout</a>
          </li>

          <li class="nav-item">
            <a class="nav-link active" aria-current="page" routerLink="/error-and-completion">Error-1</a>
          </li>

          <li class="nav-item">
            <a class="nav-link active" aria-current="page" routerLink="/error-and-completion-part-2">Error-2</a>
          </li>

          <li class="nav-item">
            <a class="nav-link active" aria-current="page" routerLink="/complete-signal-part-1">CompletSignal-1</a>
          </li>

          <li class="nav-item">
            <a class="nav-link active" aria-current="page" routerLink="/complete-signal-part-2">CompletSignal-2</a>
          </li>

          <li class="nav-item">
            <a class="nav-link active" aria-current="page" routerLink="/Create-observable-using-create-function">create-method</a>
          </li>

          <li class="nav-item">
            <a class="nav-link active" aria-current="page" routerLink="/Create-observable-using-create-function-error-object-example">Error-Object-1</a>
          </li>

          <li class="nav-item">
            <a class="nav-link active" aria-current="page" routerLink="/Create-observable-using-create-function-error-object-example-part-2">Error-Object-2</a>
          </li>

          <li class="nav-item">
            <a class="nav-link active" aria-current="page" routerLink="/Create-observable-using-Of-Oprator">Of Operator</a>
          </li>

          <li class="nav-item">
            <a class="nav-link active" aria-current="page" routerLink="/Create-observable-using-from-Oprator">From Operator</a>
          </li>


          <li class="nav-item">
            <a class="nav-link active" aria-current="page" routerLink="/Fourth-part-example-learning">Fourth-Part</a>
          </li>

       

          <li class="nav-item">
            <a class="nav-link active" aria-current="page" routerLink="/Fourth-part-example-learning-2">Second-Example</a>
          </li>


          <li class="nav-item">
            <a class="nav-link active" aria-current="page" routerLink="/map-operator-understanding-part-1-example">Map-operator</a>
          </li>

          <li class="nav-item">
            <a class="nav-link active" aria-current="page" routerLink="/filter-operator-understanding-part-1-example">Filter-operator-1</a>
          </li>

          <li class="nav-item">
            <a class="nav-link active" aria-current="page" routerLink="/filter-operator-understanding-part-2-example">Filter-operator-2</a>
          </li>

          <li class="nav-item">
            <a class="nav-link active" aria-current="page" routerLink="/filter-operator-understanding-part-3-example">Filter-operator-3</a>
          </li>

          <li class="nav-item">
            <a class="nav-link active" aria-current="page" routerLink="/interval-function-part-1-example">Interval-function</a>
          </li>


          <li class="nav-item">
            <a class="nav-link active" aria-current="page" routerLink="/unsubscribe-interval-function-part-2-example">unsubscribe-function</a>
          </li>

          <li class="nav-item">
            <a class="nav-link active" aria-current="page" routerLink="/unsubscribe-interval-function-part-3-example">unsubscribe-function-2</a>
          </li>


        </ul>

      </div>
    </div>
  </nav>